body {
    background-color: #252F2C;
    margin: 0;
}

.title {
    margin-top: 30px;
    text-align: center;
    font-size: 45px;
    color: white;
}

.content {
    gap: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
}

#size {
    align-self: center;
    border-radius: 4px;
    padding: 10px;
    flex: 1;
    margin-bottom: 25px;
    border: none;
    background-color: #1C8162;
    color: white;
}

.bottom-buttons {
    align-self: center;
    display: flex;
    gap: 20px;
}

#rainbow, #shadow {
    border-radius: 4px;
    padding: 10px;
    border: none;
    background-color: #1C8162;
    color: white;
}

#size:hover, #rainbow:hover, #shadow:hover {
    background-color: #166B50;
}

#container {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 20px #B6D0C8;
}

.rowdiv, .rowsquare {
    display: flex;
    flex: 1;
}
